<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pixiedia" translate="label" sortOrder="10">
            <label>Pixiedia</label>
        </tab>
        <section id="google_map_address" translate="label" type="text" sortOrder="502" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Map Pin Address Settings</label>
            <tab>pixiedia</tab>
            <resource>Pixiedia_GoogleMapAddress::config</resource>
            <group id="settings" translate="label comment" type="text" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Active</label>
                    <comment>Enable or disable module on frontend</comment>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="104" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>enter the Google map API key</comment>
                </field>
            </group>                              
        </section>
    </system>
</config>